.elementor-1101 .elementor-element.elementor-element-66692dfd{--display:flex;--position:absolute;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:center;--border-radius:0px 21px 21px 0px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:22px;--padding-bottom:22px;--padding-left:22px;--padding-right:22px;top:0px;}.elementor-1101 .elementor-element.elementor-element-66692dfd:not(.elementor-motion-effects-element-type-background), .elementor-1101 .elementor-element.elementor-element-66692dfd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF45;}.elementor-1101 .elementor-element.elementor-element-66692dfd.e-con{--align-self:center;}body:not(.rtl) .elementor-1101 .elementor-element.elementor-element-66692dfd{left:0px;}body.rtl .elementor-1101 .elementor-element.elementor-element-66692dfd{right:0px;}.elementor-1101 .elementor-element.elementor-element-37a326f8{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1101 .elementor-element.elementor-element-37a326f8.e-con{--align-self:center;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-1101 .elementor-element.elementor-element-27f656bf{text-align:center;}.elementor-1101 .elementor-element.elementor-element-27f656bf img{width:113px;}.elementor-widget-icon.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-primary );}.elementor-1101 .elementor-element.elementor-element-5fbd9d9b.elementor-element{--align-self:flex-end;}.elementor-1101 .elementor-element.elementor-element-5fbd9d9b .elementor-icon-wrapper{text-align:right;}.elementor-1101 .elementor-element.elementor-element-5fbd9d9b.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-accent );}.elementor-1101 .elementor-element.elementor-element-5fbd9d9b.elementor-view-framed .elementor-icon, .elementor-1101 .elementor-element.elementor-element-5fbd9d9b.elementor-view-default .elementor-icon{color:var( --e-global-color-accent );border-color:var( --e-global-color-accent );}.elementor-1101 .elementor-element.elementor-element-5fbd9d9b.elementor-view-framed .elementor-icon, .elementor-1101 .elementor-element.elementor-element-5fbd9d9b.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-accent );}.elementor-1101 .elementor-element.elementor-element-5fbd9d9b .elementor-icon{font-size:35px;}.elementor-1101 .elementor-element.elementor-element-5fbd9d9b .elementor-icon svg{height:35px;}.elementor-1101 .elementor-element.elementor-element-15227e7c{--spacer-size:66px;}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(23px/2);}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(23px/2);}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(23px/2);margin-left:calc(23px/2);}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-23px/2);margin-left:calc(-23px/2);}body.rtl .elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-23px/2);}body:not(.rtl) .elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-23px/2);}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-1101 .elementor-element.elementor-element-39beb9f7{--e-icon-list-icon-size:27px;--icon-vertical-offset:0px;}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:22px;font-weight:500;}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-text{color:var( --e-global-color-text );transition:color 0.3s;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-1101 .elementor-element.elementor-element-456a9643.elementor-element{--align-self:center;}.elementor-1101 .elementor-element.elementor-element-456a9643 .elementor-button{border-style:none;}.elementor-1101 .elementor-element.elementor-element-1d9b9b15{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1101 .elementor-element.elementor-element-1d9b9b15.e-con{--align-self:center;}#elementor-popup-modal-1101{background-color:rgba(0,0,0,.8);justify-content:flex-start;align-items:flex-start;pointer-events:all;}#elementor-popup-modal-1101 .dialog-message{width:100px;height:auto;}#elementor-popup-modal-1101 .dialog-widget-content{box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}@media(min-width:2400px){.elementor-1101 .elementor-element.elementor-element-1d9b9b15{--min-height:60px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1101 .elementor-element.elementor-element-1d9b9b15.e-con{--align-self:center;}}@media(max-width:767px){.elementor-1101 .elementor-element.elementor-element-66692dfd{--z-index:60000;}.elementor-1101 .elementor-element.elementor-element-15227e7c{--spacer-size:5px;}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(20px/2);}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(20px/2);}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(20px/2);margin-left:calc(20px/2);}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-20px/2);margin-left:calc(-20px/2);}body.rtl .elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-20px/2);}body:not(.rtl) .elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-20px/2);}.elementor-1101 .elementor-element.elementor-element-39beb9f7{--e-icon-list-icon-size:31px;}.elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1101 .elementor-element.elementor-element-39beb9f7 .elementor-icon-list-item > a{font-size:19px;}.elementor-1101 .elementor-element.elementor-element-456a9643{margin:20px 0px calc(var(--kit-widget-spacing, 0px) + 20px) 0px;}.elementor-1101 .elementor-element.elementor-element-456a9643 .elementor-button{border-radius:6px 6px 6px 6px;}}/* Start custom CSS for container, class: .elementor-element-66692dfd */.elementor-1101 .elementor-element.elementor-element-66692dfd {
    width: 250px;
    overflow: auto;
    position: fixed;
    transition: all .3s ease !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
}

.elementor-1101 .elementor-element.elementor-element-66692dfd::-webkit-scrollbar {
    display: none;
}

.elementor-1101 .elementor-element.elementor-element-66692dfd {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(1px);
}


.sidebar-toggle{
    cursor: pointer;
    transition: all .3s ease;
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd{
    width: 80px !important;
}

.elementor-1101 .elementor-element.elementor-element-66692dfd.logo {
    transition: all 0.3s ease;
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd .logo {
    opacity: 0;
}

.elementor-1101 .elementor-element.elementor-element-66692dfd .sidebar-toggle:hover {
    transform: translateX(-2px);
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd .sidebar-toggle {
    transform: rotate(180deg);
    right: 5px;
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd .sidebar-toggle:hover {
    transform: rotate(180deg) translateX(-2px);
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd .elementor-icon-list-items li a {
    padding: 8px !important;
    height: 36px;
}

.elementor-1101 .elementor-element.elementor-element-66692dfd .elementor-widget-search-form form{
    position: relative;
}

.elementor-1101 .elementor-element.elementor-element-66692dfd .elementor-widget-search-form form:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd .elementor-widget-search-form form:before{
    z-index: 1;
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd .elementor-search-form__icon {
    padding-left: 11px !important;
}

.elementor-1101 .elementor-element.elementor-element-66692dfd .elementor-icon-list-text {
    transition: all 0.3s ease;
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd .elementor-icon-list-text {
    opacity: 0;
    font-size: 0px;
}

.elementor-1101 .elementor-element.elementor-element-66692dfd .user {
    transition: all 0.3s ease;
    width: 100%;
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd .user {
    padding: 0px;
}

body.opening  .elementor-1101 .elementor-element.elementor-element-66692dfd .user img {
    transition: all 0.3s ease;
}

body.opening .elementor-1101 .elementor-element.elementor-element-66692dfd .nome {
    display: none;
    transition: all .3s ease;
    margin-left: 0px !important;
}

header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: 250px;
    transition: all 0.3s ease !important;
}

body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    margin-left: 80px;
}

@media (max-width: 1024px){
    header + *,
    [data-elementor-type="header"] + *,
    footer,
    [data-elementor-type="footer"]{
        margin-left: var(--narrow-width);
        transform: translateX(calc(var(--width) - var(--narrow-width)));
        transition: all 0.3s ease !important;
    }
    
    body.opening header + *,
    body.opening [data-elementor-type="header"] + *,
    body.opening footer,
    body.opening [data-elementor-type="footer"]{
        transform: translateX(0);
        transition: all 0.3s ease !important;
    }
    
    html, body{
        overflow-x: hidden;
    }

}

@media (max-width: 767px){
    .elementor-1101 .elementor-element.elementor-element-66692dfd{
        height: 100vh;
    }
    
    body.left .elementor-1101 .elementor-element.elementor-element-66692dfd{
        transform: translateX(calc(-1*var(--width)));   
    }
    
    header + *,
    [data-elementor-type="header"] + *,
    footer,
    [data-elementor-type="footer"]{
        margin-left: 0;
        transform: translateX(250px);
        transition: all 0.3s ease !important;
    }
    
    body.left header + *,
    body.left [data-elementor-type="header"] + *,
    body.left footer,
    body.left [data-elementor-type="footer"]{
        transform: translateX(0);
    }
}

.site-content footer,
.site-content header + *{
    margin: 0 !important;
    transform: none !important;
}/* End custom CSS */