.elementor-860 .elementor-element.elementor-element-42bf955{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-start;--align-items:center;--border-radius:0px 21px 21px 0px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:22px;--padding-bottom:22px;--padding-left:22px;--padding-right:22px;}.elementor-860 .elementor-element.elementor-element-42bf955:not(.elementor-motion-effects-element-type-background), .elementor-860 .elementor-element.elementor-element-42bf955 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF45;}.elementor-860 .elementor-element.elementor-element-42bf955.e-con{--align-self:center;}.elementor-860 .elementor-element.elementor-element-5abe0dd{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-860 .elementor-element.elementor-element-5abe0dd.e-con{--align-self:center;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-860 .elementor-element.elementor-element-8aa3aff{text-align:center;}.elementor-860 .elementor-element.elementor-element-8aa3aff img{width:113px;}.elementor-widget-icon.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-primary );}.elementor-860 .elementor-element.elementor-element-8c6cfc2.elementor-element{--align-self:flex-end;}.elementor-860 .elementor-element.elementor-element-8c6cfc2 .elementor-icon-wrapper{text-align:right;}.elementor-860 .elementor-element.elementor-element-8c6cfc2.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-accent );}.elementor-860 .elementor-element.elementor-element-8c6cfc2.elementor-view-framed .elementor-icon, .elementor-860 .elementor-element.elementor-element-8c6cfc2.elementor-view-default .elementor-icon{color:var( --e-global-color-accent );border-color:var( --e-global-color-accent );}.elementor-860 .elementor-element.elementor-element-8c6cfc2.elementor-view-framed .elementor-icon, .elementor-860 .elementor-element.elementor-element-8c6cfc2.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-accent );}.elementor-860 .elementor-element.elementor-element-8c6cfc2 .elementor-icon{font-size:35px;}.elementor-860 .elementor-element.elementor-element-8c6cfc2 .elementor-icon svg{height:35px;}.elementor-860 .elementor-element.elementor-element-b3e0700{--spacer-size:66px;}.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after{border-color:var( --e-global-color-text );}.elementor-widget-icon-list .elementor-icon-list-icon i{color:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-icon svg{fill:var( --e-global-color-primary );}.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item > a{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-icon-list .elementor-icon-list-text{color:var( --e-global-color-secondary );}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(23px/2);}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(23px/2);}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(23px/2);margin-left:calc(23px/2);}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-23px/2);margin-left:calc(-23px/2);}body.rtl .elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-23px/2);}body:not(.rtl) .elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-23px/2);}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-860 .elementor-element.elementor-element-a00e66b{--e-icon-list-icon-size:27px;--icon-vertical-offset:0px;}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-item > .elementor-icon-list-text, .elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-item > a{font-family:"Poppins", Sans-serif;font-size:22px;font-weight:500;}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-text{color:var( --e-global-color-text );transition:color 0.3s;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-860 .elementor-element.elementor-element-a1f9a99.elementor-element{--align-self:center;}.elementor-860 .elementor-element.elementor-element-a1f9a99 .elementor-button{border-style:none;}.elementor-860 .elementor-element.elementor-element-588d2bf{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-860 .elementor-element.elementor-element-588d2bf.e-con{--align-self:center;}.elementor-860 .elementor-element.elementor-element-60a3bb7{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-860 .elementor-element.elementor-element-1d367b6.elementor-element{--align-self:flex-end;}body:not(.rtl) .elementor-860 .elementor-element.elementor-element-1d367b6{right:0px;}body.rtl .elementor-860 .elementor-element.elementor-element-1d367b6{left:0px;}.elementor-860 .elementor-element.elementor-element-1d367b6{top:0px;}.elementor-860 .elementor-element.elementor-element-1d367b6 .elementor-icon-wrapper{text-align:right;}.elementor-860 .elementor-element.elementor-element-1d367b6.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-860 .elementor-element.elementor-element-1d367b6.elementor-view-framed .elementor-icon, .elementor-860 .elementor-element.elementor-element-1d367b6.elementor-view-default .elementor-icon{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-860 .elementor-element.elementor-element-1d367b6.elementor-view-framed .elementor-icon, .elementor-860 .elementor-element.elementor-element-1d367b6.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-primary );}.elementor-860 .elementor-element.elementor-element-1d367b6 .elementor-icon{font-size:27px;}.elementor-860 .elementor-element.elementor-element-1d367b6 .elementor-icon svg{height:27px;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(min-width:2400px){.elementor-860 .elementor-element.elementor-element-588d2bf{--min-height:60px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-860 .elementor-element.elementor-element-588d2bf.e-con{--align-self:center;}}@media(max-width:767px){.elementor-860 .elementor-element.elementor-element-b3e0700{--spacer-size:5px;}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(20px/2);}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(20px/2);}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(20px/2);margin-left:calc(20px/2);}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-20px/2);margin-left:calc(-20px/2);}body.rtl .elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-20px/2);}body:not(.rtl) .elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-20px/2);}.elementor-860 .elementor-element.elementor-element-a00e66b{--e-icon-list-icon-size:31px;}.elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-item > .elementor-icon-list-text, .elementor-860 .elementor-element.elementor-element-a00e66b .elementor-icon-list-item > a{font-size:19px;}.elementor-860 .elementor-element.elementor-element-a1f9a99{margin:20px 0px calc(var(--kit-widget-spacing, 0px) + 20px) 0px;}.elementor-860 .elementor-element.elementor-element-a1f9a99 .elementor-button{border-radius:6px 6px 6px 6px;}.elementor-860 .elementor-element.elementor-element-1d367b6{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;top:31px;z-index:1000;}body:not(.rtl) .elementor-860 .elementor-element.elementor-element-1d367b6{right:24px;}body.rtl .elementor-860 .elementor-element.elementor-element-1d367b6{left:24px;}}/* Start custom CSS for container, class: .elementor-element-42bf955 */.elementor-860 .elementor-element.elementor-element-42bf955 {
    width: 250px;
    overflow: auto;
    position: fixed;
    transition: all .3s ease !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
}

.elementor-860 .elementor-element.elementor-element-42bf955::-webkit-scrollbar {
    display: none;
}

.elementor-860 .elementor-element.elementor-element-42bf955 {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}


.sidebar-toggle{
    cursor: pointer;
    transition: all .3s ease;
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955{
    width: 80px !important;
}

.elementor-860 .elementor-element.elementor-element-42bf955.logo {
    transition: all 0.3s ease;
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955 .logo {
    opacity: 0;
}

.elementor-860 .elementor-element.elementor-element-42bf955 .sidebar-toggle:hover {
    transform: translateX(-2px);
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955 .sidebar-toggle {
    transform: rotate(180deg);
    right: 5px;
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955 .sidebar-toggle:hover {
    transform: rotate(180deg) translateX(-2px);
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955 .elementor-icon-list-items li a {
    padding: 8px !important;
    height: 36px;
}

.elementor-860 .elementor-element.elementor-element-42bf955 .elementor-widget-search-form form{
    position: relative;
}

.elementor-860 .elementor-element.elementor-element-42bf955 .elementor-widget-search-form form:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955 .elementor-widget-search-form form:before{
    z-index: 1;
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955 .elementor-search-form__icon {
    padding-left: 11px !important;
}

.elementor-860 .elementor-element.elementor-element-42bf955 .elementor-icon-list-text {
    transition: all 0.3s ease;
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955 .elementor-icon-list-text {
    opacity: 0;
    font-size: 0px;
}

.elementor-860 .elementor-element.elementor-element-42bf955 .user {
    transition: all 0.3s ease;
    width: 100%;
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955 .user {
    padding: 0px;
}

body.opening  .elementor-860 .elementor-element.elementor-element-42bf955 .user img {
    transition: all 0.3s ease;
}

body.opening .elementor-860 .elementor-element.elementor-element-42bf955 .nome {
    display: none;
    transition: all .3s ease;
    margin-left: 0px !important;
}

header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: 250px;
    transition: all 0.3s ease !important;
}

body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    margin-left: 80px;
}

@media (max-width: 1024px){
    header + *,
    [data-elementor-type="header"] + *,
    footer,
    [data-elementor-type="footer"]{
        margin-left: var(--narrow-width);
        transform: translateX(calc(var(--width) - var(--narrow-width)));
        transition: all 0.3s ease !important;
    }
    
    body.opening header + *,
    body.opening [data-elementor-type="header"] + *,
    body.opening footer,
    body.opening [data-elementor-type="footer"]{
        transform: translateX(0);
        transition: all 0.3s ease !important;
    }
    
    html, body{
        overflow-x: hidden;
    }

}

@media (max-width: 767px){
    .elementor-860 .elementor-element.elementor-element-42bf955{
        height: 100vh;
    }
    
    body.left .elementor-860 .elementor-element.elementor-element-42bf955{
        transform: translateX(calc(-1*var(--width)));   
    }
    
    header + *,
    [data-elementor-type="header"] + *,
    footer,
    [data-elementor-type="footer"]{
        margin-left: 0;
        transform: translateX(250px);
        transition: all 0.3s ease !important;
    }
    
    body.left header + *,
    body.left [data-elementor-type="header"] + *,
    body.left footer,
    body.left [data-elementor-type="footer"]{
        transform: translateX(0);
    }
}

.site-content footer,
.site-content header + *{
    margin: 0 !important;
    transform: none !important;
}/* End custom CSS */